/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

:root {
    /* Colors: */
    --color-yellow: #FFC567;
    --color-red: #FD5A46;
    --color-black-mid: #182335;
    --color-blue: #3A5A84;
    --color-bgcolor: #F8F3EF;
    --color-bgcolor-lighter: #FDF9F8;

    /* Sizes */
    --fs-h1: 33px;
    --fs-h2: 30px;
    --fs-h3: 22px;
    --fs-h4: 18px;
    --fs-p: 16px;
    --fs-a: 12px;
    /* Weight */
    --fw-bold: 600;
    --fw-h2: 600;
    --fw-h3: 600;
    --fw-h4: 100;
    /* Font Families */
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Work Sans', sans-serif;
}


body {
    font-family: 'work san', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-bgcolor);
}

/* 
@media (min-width: 1200px) {
    body {
        font-size: 1.2em;
    }
} */

header {
    color: var(--color-bgcolor-lighter);
    padding: 10px 20px;
    display: flex;
    border: var(--color-black-mid) 1px solid;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-yellow);
}

.desktop-nav {
    background-color: var(--color-bgcolor);

}

.logo {
    max-width: 144px;
}

/* NAV START */
#menu {
    position: fixed;
    right: 750px;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
    max-height: 600px;
    border-bottom: var(--color-black-mid) 2px solid;
    z-index: 1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 10px var(--color-black-mid);
    background-color: var(--color-bgcolor);
    color: var(--color-bgcolor-lighter);
    align-items: center;

}

#menu a {
    text-decoration: none;
    margin: 10px 0;
    font-size: var(--fs-h1);
    background-color: var(--color-red);
    padding: 5px 50px;
    border: var(--color-black-mid) 2px solid;
    cursor: default;

}

#menu a:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 5px 10px var(--color-black-mid);
    border-bottom-right-radius: 30px;
}

.call-dt {
    display: none;
}


#desktop-menu {
    display: none;
}

a:visited {
    color: var(--color-bgcolor-lighter);
}



@media (min-width: 768px) {

    a:visited {
        color: var(--color-black-mid);
    }

    nav {
        position: static;
        height: auto;
        width: auto;
        background-color: transparent;

    }

    nav a {
        margin: 0 10px;
    }



    /* header {} */
    .call-dt {
        display: inline;
        cursor: pointer;
    }

    #desktop-menu {
        gap: 22px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        min-height: 80px;
        align-items: center;
        flex-wrap: wrap;
        padding: 22px 0;
    }

    #desktop-menu a {
        font-size: var(--fs-h4);
        color: var(--color-bgcolor-lighter);
        text-decoration: none;
        background-color: var(--color-red);
        padding: 12px 40px;
        border: var(--color-black-mid) 2px solid;
        max-height: 40px;
        align-items: center;
        display: flex;
    }

    #desktop-menu a:hover,
    .call-dt a:hover {

        transition: 0.3s ease-in-out;
        box-shadow: 5px 10px var(--color-black-mid);
        transition: 0.3s ease-in-out;
        border-bottom-right-radius: 30px;
    }

    .call-dt {
        color: var(--color-bgcolor-lighter);
        font-size: var(--fs-h4);
        text-decoration: none;
        background-color: var(--color-red);
        padding: 12px 40px;
        border: var(--color-black-mid) 2px solid;
        align-items: center;
        display: flex;
        max-height: 40px;
    }

    .call-dt:hover {
        transition: 0.3s ease-in-out;
        box-shadow: 5px 10px var(--color-black-mid);
        border-bottom-right-radius: 30px;
    }





}


/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--color-red);
    color: var(--color-black-mid);
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 1000;
}

@media (min-width: 768px) {
    .close-btn {
        display: none;
    }

    #menu {
        display: none;
    }
}

/* NAV END */

.menu-icon {
    display: block;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: var(--color-black-mid);
    margin: 5px 0;
}

@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }
}

/* main {
    padding: 20px;
} */

section {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#home {
    text-align: center;
}

#home h1 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    line-height: 50px;
    max-width: 258PX;
    margin: 0 auto;
}

/* @media (min-width: 768px) {
    #home h1 {
        max-width: 1458PX;
    }
} */


p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-p)
}

#about {
    background-color: var(--color-yellow);
    text-align: center;
    height: 330px;
    border: var(--color-black-mid) 1px solid;

}

#about h2,
#social-media h2,
#bespoke-websites h2,
#seo-expert h2,
#academy h2 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-h2);
    font-size: var(--fs-h2);
    padding-bottom: 22px;
    line-height: 50px;
    text-align: center;
}

#bespoke-websites,
#social-media,
#seo-expert {
    background-color: var(--color-red);
    height: 330px;
    border: var(--color-black-mid) 1px solid;
    margin-top: 32px;
    padding-bottom: 80px;
}

#academy h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-h3);
}


.academy-background {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    box-sizing: border-box;
    padding: 30px;
}

.mission {
    background-color: var(--color-red);
    /* height: 196px; */
    border: var(--color-black-mid) 1px solid;
    margin-top: 32px;
    padding-bottom: 80px;
}

.instructor {
    background-color: var(--color-yellow);
    height: 250px;
    border: var(--color-black-mid) 1px solid;
    margin-top: 32px;
    padding-bottom: 80px;
}



footer {

    color: var(--color-black-mid);

    font-family: Arial, sans-serif;
    line-height: 50PX;
}

.footer-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 30px 0 30px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-weight: var(--fw-h4);
    font-size: var(--fs-h4);
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: var(--color-black-mid);
    text-decoration: none;
    font-size: var(--fs-a);
}

.footer-newsletter img {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-newsletter p {
    margin-bottom: 10px;
    font-size: var(--fs-p);
    line-height: 30px;
}

.footer-newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.footer-newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid var(--color-black-mid);
    border-right: none;
    width: 200px;
}

.footer-newsletter button {
    padding: 10px 20px;
    background-color: var(--color-red);
    color: var(--color-bgcolor-lighter);
    border: 1px solid var(--color-black-mid);
    cursor: pointer;
}

.footer-social a {
    margin: 0 10px;
    display: inline-block;
}

.footer-social img {
    width: 38px;
    height: 38px;
}

.footer-bottom {
    background-color: var(--color-red);
    color: var(--color-black-mid);
    padding: 50px 0;
    text-align: center;
    height: 154px;
    position: relative;
}

.footer-bottom p {
    padding-top: 40px;
}


.footer-bottom::before {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background-color: var(--color-black-mid);
    margin: 0 auto 10px auto;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}