/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

input[type="email"] {
    border-radius: 0px;
}

:root {
    /* Colors: */
    --color-yellow: #FFC567;
    --color-red: #FD5A46;
    --color-black-mid: #182335;
    --color-blue: #3A5A84;
    --color-bgcolor: #F8F3EF;
    --color-bgcolor-lighter: #FDF9F8;

    /* Sizes */
    --fs-h1: 54px;
    --fs-h2: 30px;
    --fs-h3: 22px;
    --fs-h4: 18px;
    --fs-p: 16px;
    --fs-a: 12px;
    /* Weight */
    --fw-bold: 600;
    --fw-h2: 600;
    --fw-h3: 600;
    --fw-h4: 100;
    /* Font Families */
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Work Sans', sans-serif;
}

body {
    font-family: 'work san', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-bgcolor);
}

header {
    color: var(--color-bgcolor-lighter);
    padding: 10px 20px;
    display: flex;
    border: var(--color-black-mid) 1px solid;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-yellow);
    position: sticky;
}

.desktop-nav {
    background-color: var(--color-bgcolor);
}

.logo {
    max-width: 144px;
}

p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-p)
}

/* NAV START */
#menu {
    position: fixed;
    right: 850px;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
    max-height: 600px;
    border-bottom: var(--color-black-mid) 2px solid;
    z-index: 1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 10px var(--color-black-mid);
    background-color: var(--color-bgcolor);
    color: var(--color-bgcolor-lighter);
    align-items: center;
}

#menu a {
    text-decoration: none;
    margin: 10px 0;
    font-size: var(--fs-h2);
    background-color: var(--color-red);
    padding: 5px 50px;
    border: var(--color-black-mid) 2px solid;
    cursor: grab;
    color: var(--color-bgcolor-lighter);
}

#menu a :visited {
    color: var(--color-bgcolor-lighter);
}

#menu a:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 5px 10px var(--color-black-mid);
    border-bottom-right-radius: 30px;
}

.call-dt {
    display: none;
}

#desktop-menu,
.desktop-nav {
    display: none;
}

@media (min-width: 768px) {
    nav {
        position: static;
        height: auto;
        width: auto;
        background-color: transparent;
    }

    nav a {
        margin: 0 10px;
    }

    .call-dt {
        display: inline;
        cursor: grab;
    }

    .desktop-nav {
        display: flex;
    }

    #desktop-menu {
        gap: 22px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        min-height: 80px;
        align-items: center;
        flex-wrap: wrap;
        padding: 22px 0;
    }

    #desktop-menu a {
        font-size: var(--fs-h3);
        color: var(--color-bgcolor-lighter);
        text-decoration: none;
        background-color: var(--color-red);
        padding: 12px 40px;
        border: var(--color-black-mid) 2px solid;
        max-height: 40px;
        align-items: center;
        display: flex;
    }

    #desktop-menu a:hover,
    .call-dt a:hover {
        transition: 0.3s ease-in-out;
        box-shadow: 5px 10px var(--color-black-mid);
        border-bottom-right-radius: 30px;
    }

    .call-dt {
        color: var(--color-bgcolor-lighter);
        font-size: var(--fs-h4);
        text-decoration: none;
        background-color: var(--color-red);
        padding: 12px 40px;
        border: var(--color-black-mid) 2px solid;
        align-items: center;
        display: flex;
        max-height: 40px;
    }

    .call-dt:hover {
        transition: 0.3s ease-in-out;
        box-shadow: 5px 10px var(--color-black-mid);
        border-bottom-right-radius: 30px;
    }
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--color-red);
    color: var(--color-black-mid);
    border: none;
    font-size: 18px;
    cursor: grab;
    padding: 5px 10px;
    z-index: 1000;
}

@media (min-width: 768px) {
    .close-btn {
        display: none;
    }

    #menu {
        display: none;
    }
}

.menu-icon {
    display: block;
    cursor: grab;
}

.menu-icon div {
    width: 35px;
    height: 3px;
    background-color: var(--color-black-mid);
    margin: 5px 0;
}

@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }
}

/* NAV END */
section {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

/* Hero Section Start*/
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

#home h1 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--color-black-mid);
    text-align: center;
}

#home p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-p);
    margin-bottom: 20px;
    color: var(--color-black-mid);
}

.hero-image {
    max-width: 100%;
    height: auto;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-content {
    padding: 0px 45px;
}

.hero-graphic {
    display: none;
}

#home p:nth-of-type(2) {
    padding-bottom: 33px;
}

.learn-more-button {
    font-size: var(--fs-h2);
    background-color: var(--color-red);
    padding: 5px 50px;
    border: var(--color-black-mid) 2px solid;
    cursor: grab;
    color: var(--color-bgcolor-lighter);
    margin-top: 122px;
    display: ruby;
    font-family: var(--ff-primary);
}

a.learn-more-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 340px;
    justify-content: center;
}

.learn-more-button::after {
    content: "";
    display: inline-block;
    width: 34px;
    height: 34px;
    background-image: url('http://mr-aust1n.github.io/milestone-project-one/assets/images/button-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 30px;
}

.learn-more-button:hover {
    color: var(--color-bgcolor-lighter);
    transition: 0.3s ease-in-out;
    box-shadow: 5px 10px var(--color-black-mid);
    border-bottom-right-radius: 30px;
}

@media (min-width: 768px) {
    #home {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        min-height: 670px;
    }

    #home h1 {
        text-align: left;
    }

    .hero-content {
        max-width: 60%;
    }

    .hero-content p {
        max-width: 80%;
    }

    .hero-graphic {
        display: block;
        position: absolute;
        right: 0px;
        max-width: 422px;
    }

    .hero-graphic:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }

    .learn-more-button {
        margin-top: 80px;
    }

    .learn-more-button {
        margin-bottom: 80px;
    }

    #home p:nth-of-type(2) {
        padding-bottom: 0px;
    }
}

@media (min-width: 1201px) {
    #home {
        min-height: 977px;
    }

    .hero-graphic {
        max-width: 50%;
        text-align: right;
    }

    .hero-graphic img {
        max-width: 100%;
        height: auto;
        right: 0px;
        top: 312px;
    }
}

/* Hero Section end*/
#about,
#seoSection,
#swiper {
    padding: 40px 20px;
}

#about,
#seoSection,
#swiperBG {
    background-color: var(--color-yellow);
    text-align: center;
    height: auto;
    width: auto !important;
    border: var(--color-black-mid) 1px solid;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

#about,
#swiperBG h2 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-h2);
    font-size: var(--fs-h2);
    margin-bottom: 20px;
    color: var(--color-black-mid);
}

#about,
#swiperBG>p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-p);
    width: 800px;
    margin: 0 auto 50px auto;
    color: var(--color-black-mid);
}

.services-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 30px;
}

.service-box {
    background-color: var(--color-red);
    color: var(--color-bgcolor-lighter);
    padding: 20px;
    border: 1px solid var(--color-black-mid);
    text-align: center;
    width: 100%;
}

.service-box h3 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-h3);
    font-size: var(--fs-h3);
    margin-bottom: 20px;
    color: var(--color-black-mid);
}

.service-box p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-p);
    color: var(--color-black-mid);
}

.bespoke {
    background-color: var(--color-bgcolor-lighter);
}

.bespoke :hover {
    background-color: var(--color-red);
}

@media (min-width: 768px) {
    .service-box {
        flex: 1 1 250px;
        max-width: 300px;
    }

    .services-container {
        justify-content: space-around;
        position: absolute;
        top: 190px;
        gap: 10px;
        flex-direction: row;
    }

    #about {
        height: 330px;
    }
}

@media (min-width: 1200px) {
    .services-container {
        justify-content: space-between;
        gap: 30px;
    }
}

/* SWIPER TOP */

.swiper {
    width: 100%;
    margin-bottom: 50px;
    padding: 0px 30px !important;
    display: flex;
    cursor: grab;
    margin-top: 30px;
}



.swiper-slide {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: var(--color-black-mid) 1px solid;
    background-color: var(--color-bgcolor-lighter);
    padding: 20px;
    justify-content: space-between;
    display: flex !important;
    flex-direction: column;
    min-height: 600px;
}

.swiper-pagination {
    display: none;
}

.select-package-button {
    font-size: var(--fs-h2);
    background-color: var(--color-black-mid);
    padding: 15px 20px;
    color: var(--color-bgcolor-lighter);
    margin-bottom: 30px;
    font-family: var(--ff-primary);
    font-size: var(--fs-h4);
}

a.select-package-button {
    align-items: center;
    justify-content: center;
}

.swiper-slide .swiper-slide-active {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swiper-slide:hover {
    transition: 0.3s ease-in-out;
    background-color: var(--color-red);
}




/* SWIPER BOTTOM */

/* SEO SECTION TOP */
#seoSection {
    margin-top: 50px;
    padding: 20px;
    position: relative;
    align-items: center;
    justify-content: center;

}

@media (min-width: 768px) {
    #seoSection {
        padding: 0px 120px 30px 120px;
        min-height: 220px;
    }
}

/* SEO SECTION BOTTOM */

/* NEWSLETTER TOP */
#subscribe {
    text-align: center;
    padding: 0px 30px 30px 30px;
    border: 2px solid var(--color-black-mid);
    position: relative;
    color: var(--color-black-mid);
    background-color: var(--color-yellow);
    margin: 900px 0px 0px 0px;
}

#subscribe::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#subscribe h2,
#subscribe p,
.subscription-form {
    position: relative;
    z-index: 2;
}

#subscribe h2 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    margin-bottom: 20px;
    color: var(--color-black-mid);
}

#subscribe p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-p);
    max-width: 800px;
    margin: 0 auto 30px auto;
    color: var(--color-black-mid);
}

.subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.subscription-form input[type="email"] {
    padding: 10px;
    border: 2px solid var(--color-black-mid);
    border-right: none;
    width: 300px;
    font-family: var(--ff-secondary);
    font-size: var(--fs-p);
    color: var(--color-black-mid);
}

.subscription-form button {
    padding: 10px 20px;
    background-color: var(--color-black-mid);
    color: var(--color-bgcolor-lighter);
    border: 2px solid var(--color-black-mid);
    font-family: var(--ff-secondary);
    font-size: var(--fs-p);
    cursor: grab;
}

.subscription-form button:hover {
    background-color: var(--color-yellow);
    color: var (--color-black-mid);
}

.footer-links .footer-column:nth-child(3) {
    display: none;
}

@media (min-width: 768px) {
    .subscription-form input[type="email"] {
        width: 400px;
    }

    .footer-links .footer-column:nth-child(3) {
        display: inline;
    }

    #subscribe h2 {
        margin: 50px 0px;
    }

    .subscription-form {
        top: 70px;
        padding: 0px 120px 100px 120px;
    }

    #subscribe {
        background: url('http://mr-aust1n.github.io/milestone-project-one/assets/images/subscribe-yapp.svg') no-repeat center center;
        background-size: cover;
        background-color: var(--color-yellow);
        margin: 290px 0px 30px 0px;
        padding: 0px 120px 30px 120px;
    }
}

/* NEWSLETTER BOTTOM */


/* FOOTER TOP */
footer {
    color: var(--color-black-mid);
    font-family: Arial, sans-serif;
    line-height: 50PX;
    position: relative;

}

.footer-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 30px 0 30px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-weight: var(--fw-h4);
    font-size: var(--fs-h4);
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: var(--color-black-mid);
    text-decoration: none;
    font-size: var(--fs-h4);
}

.footer-newsletter img {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-newsletter p {
    margin-bottom: 10px;
    font-size: var(--fs-p);
    line-height: 30px;
}

.footer-newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.footer-newsletter input[type="email"] {
    padding: 10px 20px;
    border: 1px solid var (--color-black-mid);
    border-right: none;
    width: 180px;
}

.footer-newsletter button {
    padding: 11px 0px;
    background-color: var(--color-red);
    color: var(--color-bgcolor-lighter);
    border: 1px solid var(--color-black-mid);
    cursor: grab;
    min-width: 150px;
    margin-right: 32px
}

.footer-social a {
    margin: 0 10px;
    display: inline-block;
}

.footer-social img {
    width: 38px;
    height: 38px;
}

.footer-bottom {
    background-color: var(--color-red);
    color: var(--color-black-mid);
    padding: 50px 0;
    text-align: center;
    height: 154px;
    position: relative;
}

.footer-bottom p {
    padding-top: 40px;
}

.footer-bottom::before {
    content: "";
    display: block;
    width: 70%;
    height: 2px;
    background-color: var(--color-black-mid);
    margin: 0 auto 10px auto;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 768px) {
    .footer-links {
        max-width: 100%;
    }

    .footer-newsletter form {
        justify-content: left;
    }

    .footer-container {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        padding: 20px 30px 0 30px;
    }

    .footer-newsletter input[type="email"] {
        width: 200px;
    }
}

/* FOOTER BOTTOM */