/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

:root {
    /* Colors: */
    --color-yellow: #FFC567;
    --color-red: #FD5A46;
    --color-black-mid: #182335;
    --color-blue: #3A5A84;
    --color-bgcolor: #F8F3EF;
    --color-bgcolor-lighter: #FDF9F8;

    /* Sizes */
    --ft-h1: 54px;
    --ft-h2: 42px;
    --ft-h3: 28px;
    --ft-h4: 22px;
    --ft-p: 16px;

    /* Weight */
    --fw-h1: 900;
    --fw-h2: 700;
    --fw-h3: 600;
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F3EF;
}

@media (min-width: 1200px) {
    body {
        font-size: 1.2em;
    }
}

header {
    background-color: var(--color-yellow);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--color-black-mid) 1px solid;
}

.logo {
    max-width: 144px;
}

/* NAV START */
nav {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    width: 250px;
    background-color: var(--color-red);
    color: var(--color-black-mid);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

.contact-dt {
    display: none;
}

@media (min-width: 768px) {
    nav {
        position: static;
        height: auto;
        width: auto;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        transition: none;
    }

    nav a {
        margin: 0 10px;
    }
}


/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--color-red);
    color: var(--color-black-mid);
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 1000;
}

@media (min-width: 768px) {
    .close-btn {
        display: none;
    }
}

/* NAV END */

.menu-icon {
    display: block;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: var(--color-black-mid);
    margin: 5px 0;
}

@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}